* {
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin-left: 5%;
}

.lightbulb_container {
    width: 200px;
    height: 200px;
    margin: 15px;
}

.lightbulb {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border:4px solid pink;
  
}

main{
    background-image: url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80") ;
    width: 100vw;
    height: 100vh;
}

/* Media Queries*/
@media  (max-width: 992px) {
    .lightbulb_container {
    width: 150px;
    height: 150px;
    }
    .lightbulb {
        border:3px solid red;
    }
}

@media  (max-width: 768px) {
    .lightbulb_container {
    width: 80px;
    height: 80px;
    }
    .lightbulb {
        border:2px solid teal;
    }
}

@media  (max-width: 576px) {
    .lightbulb_container {
    width: 50px;
    height: 50px;
    }
    .lightbulb {
        border:1px solid blue;
    }
}
